[Desktop Entry]
Name=Radio FM4
Exec=invoker --single-instance --type=e /opt/fm4app/bin/fm4app
Icon=/opt/fm4app/fm4app.png
Terminal=false
Type=Application
Categories=Audio;

